<!doctype html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="navbar">
        <div id="top-text">
            <h1>Pokémend</h1>
            <p>Home Page</p>
        </div>
        <form method="POST" action="{{ url_for('users_bp.logout') }}" onsubmit="return confirm('Are you sure you want to log out?');">
            <button type="submit" class="logout-button">Logout</button>
        </form>
        <div class="whole-circle">
        <div class="outer-circle">
            <div class="inner-circle"></div>
        </div>
        </div>
    </div>

    <!-- Main Content -->
    <div class="container">
        <h1>Welcome to the Home Page!</h1>
        <p>Hello, {{ user.username }}! You are logged in.</p>
    </div>
</body>

</html>