<!doctype html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="navbar">
        <div id="top-text">
            <h1>Pokémend</h1>
            <p>Home Page</p>
        </div>
        <form method="POST" action="{{ url_for('users_bp.logout') }}" onsubmit="return confirm('Are you sure you want to log out?');">
            <button type="submit" class="logout-button">Logout</button>
        </form>
        <div class="whole-circle">
        <div class="outer-circle">
            <div class="inner-circle"></div>
        </div>
        </div>
    </div>
<div class="container">
    <h1>Hello, {{ user.username }}!</h1>
    <form method="POST" action="{{ url_for('users_bp.results') }}">
        <input type="hidden" name="jwt_token" value="{{ jwt_token }}">
        <label for="pokemon">Tell us your favorite Pokémon:</label><br>
        <input type="text" name="pokemon" id="pokemon" placeholder="Enter your Pokémon">
        <button type="submit" class="button">Submit</button>
    </form>
</div>
    <!--
<script type="text/javascript">
    const token = "{{ token }}";  // Flask will inject the token here

    // Function to load protected content with the token in the Authorization header
    async function loadProtectedContent() {
        const response = await fetch('/home', {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${token}`,
                'Content-Type': 'application/json'
            }
        });

        if (response.ok) {
            const data = await response.json();
            console.log(data);  // Handle the response data (e.g., render it on the page)
        } else {
            console.error('Failed to fetch protected content.');
        }
    }

    // Call the function when the page is loaded
    loadProtectedContent();
</script>
-->
</body>

</html>